/*BEGIN xbox Controller Styling*/
.controller.xbox {
    background-image: url(controller-overlay_BASE.svg);
}

.xbox. trigger {
    background-image: url(sakura-05.png);
}

.xbox .bumper {
    background-image: url(sakura-04.png);
}

.xbox .touchpad.pressed {
    background-image: url(sakura-06.png);
}

.xbox .back, .xbox .start {
    background-image: url(sakura-07.png);
}

.xbox .button {
    background-image: url(sakura-01.png);
}

.xbox .stick {
    background-image: url(sakura-02.png);
}

.xbox .face {
    background-image: url(sakura-03.png);
}

/*END xbox White Controller Styling*/
