/*BEGIN Xbox One Controller Styling https://arctic404.github.io/hockeyclub/style.css*/
.controller.xbox {
    background: url(BASE.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(BASE.png);
}

.xbox.disconnected {
    background: url(BASE.png);

.xbox .trigger {
    width: 88px;
    height: 121px;
    background: url(controller-overlay_LT.png);
    opacity: 0;

.xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(controller-overlay-BUMPER.png);
    opacity: 0;

.xbox .quadrant {
    position: absolute;
    background: url(controller-overlay_DPAD.png);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;

.xbox .back, .xbox .start {
    background: url(xbox-assets/start-select.svg);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.xbox .button {
    position: absolute;
    background: url(controller_overlay_ABXY.png);
    width: 48px;
    height: 48px;
}

.xbox .stick {
    position: absolute;
    background: url(controller-overlay_Stick.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;

.xbox .face {
    background: url(xbox-assets/dpad.svg);
    position: absolute;
    opacity: 0;
    /*END Xbox One Controller Styling*/
