/* BEGIN Xbox Controller Styling */

.controller.xbox {
    background-image: url(controller-overlay_BASE.svg");
}

.xbox .trigger {
    background-image: url(controller-overlay_LT.svg");
}

.xbox .bumper {
    background-image: url(controller-overlay_Bumper.svg");
}

.xbox .button {
    background-image: url(controller-overlay_DPAD.svg");
}

.xbox .stick {
    background-image: url(controller-overlay_Stick.svg");
}

.xbox .face {
    background-image: url(controller-overlay_ABXY.svg");
}

/* END Xbox Controller Styling */
