/*BEGIN xbox Controller Styling*/
.controller.xbox {
    background-image: url(controller-overlay_BASE.svg);
}

.xbox. trigger {
    background-image: url(controller-overlay_LT.svg);
}

.xbox .bumper {
    background-image: url(controller-overlay_Bumper.svg);
}

.xbox .touchpad.pressed {
    background-image: url();
}

.xbox .back, .xbox .start {
    background-image: url();
}

.xbox .button {
    background-image: url(controller-overlay_DPAD);
}

.xbox .stick {
    background-image: url(controller-overlay_Stick.svg);
}

.xbox .face {
    background-image: url(controller-overlay__ABXY.svg);
}

/*END xbox White Controller Styling*/
