/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(sakura.gif);
}

.ds4.white .trigger {
    background-image: url(sakura-02.png);
}

.ds4.white .bumper {
    background-image: url(sakura-04.png);
}

.ds4.white .touchpad.pressed {
    background-image: url(sakura-06.png);
}

.ds4.white .back, .ds4 .start {
    background-image: url(sakura-07.png);
}

.ds4.white .button {
    background-image: url(sakura-01.png);
}

.ds4.white .stick {
    background-image: url(sakura-02.png);
}

.ds4.white .face {
    background-image: url(sakura-03.png);
}

/*END PS4 White Controller Styling*/